body {
  margin: 0;
  background: #f5f7fa;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  background: black;
}

video, canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

canvas {
  pointer-events: none; /* VERY IMPORTANT */
}
